header {
    background: url("../images/jessieandgrantsnuggle.jpg");
    background-size: cover;
    text-align: center;
    border: 1px gray solid;
    padding: 20px;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Spirax', cursive;
    letter-spacing: .25em;
    line-height: .4em;
}

section {
    background-color:#FFFFFF;
    border: 1px gray solid;
    font-size: 20px;
    font-weight: 100;
    font-family: Cinzel;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px gray solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px gray solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px gray solid;
    padding: 20px;
    float: right;
    width: 62%;
}

.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

nav {
    background-color:#E8C66A;
    border: 1px gray solid;
    padding: 20px;
    text-align: center;
    color: #a3abb7;
    font-family: 'Slabo 27px', serif;
}


footer {
  background-color:#FF957E;
  border: 1px gray solid;
  padding: 20px; 
    font-family: 'Slabo 27px', serif;
}