body{
  text-align: center;
  background: url("../images/jessieandgrantengagementphoto1.jpg");
  background-size: cover;
  font-family: 'Amatica SC', cursive;
  margin: 8px;
}

header{
    background-color:#FFED74;
    border: 1px black solid;
    padding: 20px;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Spirax', cursive;
    letter-spacing: .25em;
    line-height: .4em;
}

section{
    background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Spirax', cursive;
    letter-spacing: .25em;
    line-height: .4em;
}

nav{
    background-color:#E8C66A;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    color: #a3abb7;
    font-family: 'Amatica SC', cursive;
}


footer{
  background-color:#FF957E;
  border: 1px black solid;
  padding: 20px; 
}