body{
  text-align: center;
  background-image: url(images/jessieandgrantengagementphoto1.jpg);
  background-size: cover;
  color: #a3abb7;
  font-family: Helvetica;
}
hr{
  width: 200px;
}
#nav{
	text-align: right;
	color: #a3abb7;
}
p{
  font-size: 22px;
}









