.html {
  text-align: center;
  color: #fff;
  font-family: Helvetica;
  background: <img src="images/jandgbeachsit.jpg">;
  background-size: cover;
    width: 200px;
}

#h1{
	<hr>
}

hr{
  width: 200px;
}
