html{
  text-align:center;
  background: url(images/jessieandgrantengagementphoto1.jpg);
  background-size:cover;
  color: #fff;
  font-family: Helvetica;
}

hr{
  width: 200px;
}

p{
	color: #2F4F4F;
	font-size:22px;
}